Data_NETStandard/Storage/EULYNX_XSDs/EULYNX_XSD.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:DB="http://www.railtopomodel.org/schemas/DB" xmlns:NetworkRail="http://www.railtopomodel.org/schemas/NR" xmlns:ProRail="http://www.railtopomodel.org/schemas/ProRail" xmlns:RFI="http://www.railtopomodel.org/schemas/RFI" xmlns:SNCF="http://www.railtopomodel.org/schemas/SNCF" xmlns:TRV="http://www.railtopomodel.org/schemas/TRV" xmlns:base="http://www.railtopomodel.org/schemas/EULYNX_XSD" xmlns:rtmCommon="http://www.railtopomodel.org/schemas/Common" xmlns:rtmNE="http://www.railtopomodel.org/schemas/NetEntity" xmlns:rtmSig="http://www.railtopomodel.org/schemas/Signalling" xmlns:signalling="http://www.railtopomodel.org/schemas/EULYNX_Signalling" elementFormDefault="qualified" targetNamespace="http://www.railtopomodel.org/schemas/EULYNX_XSD">
  <!--<dc:date>2020-10-07T11:54:18Z</dc:date><dc:creator>rtm2xsd 1.8.5</dc:creator><dc:source>Model , XMI 2.4.1, EA 13</dc:source>-->
  <xs:import namespace="http://www.railtopomodel.org/schemas/RFI" schemaLocation="RFI.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/SNCF" schemaLocation="SNCF.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/ProRail" schemaLocation="ProRail.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/NR" schemaLocation="NR.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/Signalling" schemaLocation="Signalling.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/EULYNX_Signalling" schemaLocation="EULYNX_Signalling.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/DB" schemaLocation="DB.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/Common" schemaLocation="Common.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/NetEntity" schemaLocation="NetEntity.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/TRV" schemaLocation="TRV.xsd"/>
  <xs:element name="eulynx" type="base:Eulynx"/>
  <xs:complexType name="Eulynx">
    <xs:annotation>
      <xs:documentation>root element of an EULYNX XML. This is an instance of the XSD produced by EULYNX DP.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isReleaseVersion" type="base:Version"/>
      <xs:element name="ownsRtmEntities" type="base:RtmEntities"/>
      <xs:element name="ownsSignallingEntities" type="base:SignallingEntities"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cablingTopology" type="base:CablingTopology"/>
  <xs:complexType name="CablingTopology">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usesPositionedRelation" type="rtmCommon:PositionedRelation"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usesPositioningNetElement" type="rtmCommon:PositioningNetElement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="baseline" type="base:Baseline"/>
  <xs:complexType name="Baseline">
    <xs:annotation>
      <xs:documentation>The xml instance is based on an XSD that matches the given UML baseline.  
The baseline uses a numbering schema like so:
major=1
minor=2 
editorial=1
applicability=A</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="applicability" type="xs:string">
        <xs:annotation>
          <xs:documentation>The applicability segment indicates a change in applicability of requirements, without change of text of the requirements</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="editorial" type="xs:int">
        <xs:annotation>
          <xs:documentation>The editorial segment indicates editorial changes and corrections, changes to informative text, without impact to the requirements or to applicability data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="major" type="xs:int">
        <xs:annotation>
          <xs:documentation>The major segment indicates major functional development stages</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="minor" type="xs:int">
        <xs:annotation>
          <xs:documentation>The minor segment indicates minor changes of requirements </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="xsdGeneratorVersion" type="base:XsdGeneratorVersion"/>
  <xs:complexType name="XsdGeneratorVersion">
    <xs:annotation>
      <xs:documentation>Captures the tooling used to transform the UML classes into XSD.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="generatedByTool" type="xs:string">
        <xs:annotation>
          <xs:documentation>Information about the tool that converted the EULYNX UML into UML. E.g. rtm2xsd. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="generatedByToolVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation>The version of the tool that generated the XSD from UML. E.g. 1.8.5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="toolUri" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI of the tool location, e.g. https://gitlab.com/rail.system.model/uml2java_or_xsd/-/tree/master/rtm2xsd</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="signallingEntities" type="base:SignallingEntities"/>
  <xs:complexType name="SignallingEntities">
    <xs:annotation>
      <xs:documentation>Container for classes needed for signalling engineering and the Data Preparation. This acts as the root in an XSD file.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:BaseObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="knowsAssetAndState" type="signalling:AssetAndState"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsAspect" type="signalling:Aspect"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsAssetGroup" type="signalling:AssetGroup"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsAssetUser" type="signalling:AssetUser"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsAtpProtectiveDistance" type="signalling:TpsProtectionDistance"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsAttachmentDocument" type="signalling:Attachment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsAutomatic" type="signalling:Automatic">
            <xs:annotation>
              <xs:documentation>Set of autoroutes</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsBackToBackLocking" type="signalling:BackToBackLocking"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsBaliseGroupFunction" type="signalling:BaliseGroupFunction"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsBaselineOfRuleSet" type="signalling:BaselineOfRuleSet"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsBlockSystem" type="signalling:BlockSystem"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsCableDuct" type="signalling:CableRoute"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsCableRouteJunction" type="signalling:CableRouteJunction"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsCompositeRoute" type="signalling:CompositeRoute"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsConditionSectionsClear" type="signalling:ConditionSectionsClear"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsConductorRail" type="signalling:ConductorRail"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsConflictingRoute" type="signalling:ConflictingRoute"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsControlArea" type="signalling:ControlArea"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsControlRelation" type="signalling:ControlRelation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsControlledTrackAsset" type="signalling:ControlledTrackAsset"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsDADoverlap" type="signalling:DirectionAuthorityDependentOverlap"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsDescription" type="signalling:Description"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsDesignation" type="signalling:Designation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsDispatchAnnouncerAssignment" type="signalling:DispatchAnnouncerAssignment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsDistanceToDangerpoint" type="signalling:DistanceToDangerpoint"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsDualFlankProtection" type="DB:DualFlankProtection"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsEquipmentSupport" type="signalling:EquipmentSupport"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsExpansionJoint" type="signalling:ExpansionJoint"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsFlankProtection" type="signalling:FlankProtection"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsForeignKey" type="signalling:ForeignKey"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsInfrastructureBorder" type="signalling:InfrastructureBorder"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsKey" type="signalling:Key">
            <xs:annotation>
              <xs:documentation>Physical or numerical keys used to unlock (sub-)systems of the interlocking.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsKeyReleaseInstrument" type="signalling:KeyReleaseInstrument">
            <xs:annotation>
              <xs:documentation>e.g. keylocks for shunting zones, workzones, bascule bridges.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLevelCrossing" type="signalling:LevelCrossingSystem"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLineBlockInformation" type="signalling:LineBlockInformation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLocalOperatingArea" type="signalling:LocalOperatingArea"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLocalOperatingAreaUiElement" type="signalling:LocalOperatingAreaUiElement"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLocalOperatingZone" type="signalling:LocalOperatingZone"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLocalOperatingZoneLimit" type="signalling:LocalOperatingZoneLimit"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLocalOperatingZoneRelation" type="signalling:LocalOperatingZoneRelation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLocationProxy" type="signalling:LocationProxy"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsLozAssetRelation" type="signalling:LozAssetRelation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsManualOverlapRelease" type="signalling:ManualOverlapRelease"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsMaxRouteBodySpeed" type="signalling:MaxRouteBodySpeed"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsNUSR" type="signalling:NotUpgradeableSpeedRestriction">
            <xs:annotation>
              <xs:documentation>a set of speed restrictions that cannot be upgraded.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsNonReplacement" type="signalling:NonReplacement"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsNonStopMovement" type="signalling:NonStopMovement"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsNormalisation" type="signalling:Normalisation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsObscuration" type="NetworkRail:Obscuration"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsOperationalLocality" type="signalling:OperationalLocality"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsOpposingRoute" type="SNCF:OpposingRouteLocking"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsOppositeTrackSignal" type="signalling:OppositeTrackSignal"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsOverlap" type="signalling:Overlap">
            <xs:annotation>
              <xs:documentation>Some Infrastructure Managers don't use overlaps.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsPlatformEdge" type="signalling:PlatformEdge"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsPlatformFacility" type="signalling:PlatformFacility"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsPositioningMeasurementInfo" type="DB:PositioningMeasurementInfo"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsReferenceDrawing" type="signalling:ReferenceDrawing"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsRoute" type="signalling:Route"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsRouteApproacLocking" type="signalling:RouteApproachLocking"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsRouteBody" type="signalling:RouteBody"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsRouteCondition" type="signalling:RouteCondition"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsRouteProperty" type="signalling:RouteProperty"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSectionsForFlankProtection" type="signalling:SectionsForFlankProtection"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsShuntingRouteSectionProving" type="signalling:ShuntingRouteSectionProving"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalFrame" type="signalling:SignalFrame"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalFrameComponent" type="signalling:SignalFrameComponent"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalFunction" type="signalling:SignalFunction"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalLocation" type="signalling:SignalLocation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalPostTelephone" type="signalling:SignalPostTelephone"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalSightingDistance" type="signalling:SignalSightingDistance"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalType" type="signalling:SignalType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignalplan" type="signalling:Signalplan"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSpecialPositionArrangement" type="signalling:SpecialPositionArrangement"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSwingingOverlap" type="signalling:SwingingOverlap"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTcConnector" type="signalling:TcConnector"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTdsOccupanyOverrideGroup" type="signalling:TdsOccupancyOverrideGroup"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTdsSection" type="signalling:TdsSection"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTpsDataTransmissionSystem" type="signalling:TpsDataTransmissionSystem"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTrackAsset" type="signalling:TrackAsset"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTrackAssetConfiguration" type="signalling:TrackAssetConfiguration"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTrackCrossing" type="signalling:TrackCrossing"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTrackProperty" type="signalling:TrackProperty"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTrainCategory" type="signalling:TrainCategory"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTriggerAssignment" type="signalling:TriggerAssignment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTunnelSignal" type="signalling:TunnelSignal"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsViaLocation" type="signalling:ViaLocation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="rtmEntities" type="base:RtmEntities"/>
  <xs:complexType name="RtmEntities">
    <xs:annotation>
      <xs:documentation>Container for entities defined in the RTM namespace.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:BaseObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsBufferstop" type="rtmSig:VehicleStop"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsPoint" type="rtmSig:Turnout"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsRouteBody" type="rtmSig:RouteBody"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsSignal" type="rtmSig:Signal"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesAlignmentCurve" type="rtmCommon:AlignmentCurve"/>
          <xs:element maxOccurs="1" minOccurs="0" name="usesCablingTopology" type="base:CablingTopology"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesHorizontalAlignmentSegment" type="rtmCommon:HorizontalAlignmentSegment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesLinearLocation" type="rtmCommon:LinearLocation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesPositioningSystem" type="rtmCommon:PositioningSystem"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesPositioningSystemCoordinate" type="rtmCommon:PositioningSystemCoordinate"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesSpotLocation" type="rtmCommon:SpotLocation"/>
          <xs:element maxOccurs="1" minOccurs="0" name="usesTrackTopology" type="base:TrackTopology"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesUnit" type="rtmCommon:Unit">
            <xs:annotation>
              <xs:documentation>SI unit used in this data set.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="usesVerticalAlignmentSegment" type="rtmCommon:VerticalAlignmentSegment"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NationalDomains">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sncf">
        <xs:annotation>
          <xs:documentation>Soci&amp;#233;t&amp;#233; National des Chemins de fer Fran&amp;#231;ais</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="db">
        <xs:annotation>
          <xs:documentation>Deutsche Bahn Netze</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nr">
        <xs:annotation>
          <xs:documentation>Network Rail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prorail">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rfi">
        <xs:annotation>
          <xs:documentation>Rete Ferroviaria Italiana</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sbb">
        <xs:annotation>
          <xs:documentation>Chemins de fer f&amp;#233;d&amp;#233;raux suisses (CFF), Schweizerische Bundesbahnen (SBB), Ferrovie federali svizzere (FFS)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafikverket">
        <xs:annotation>
          <xs:documentation>Trafikverket</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="banenor">
        <xs:annotation>
          <xs:documentation>Chemins de fer Luxembourgeois</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cfl">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="infrabel">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="oebb">
        <xs:annotation>
          <xs:documentation>&amp;#214;sterreichische Bundesbahnen</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sz">
        <xs:annotation>
          <xs:documentation>Slovenske zeleznice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vayla">
        <xs:annotation>
          <xs:documentation>V&amp;#228;yl&amp;#228;virasto</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="version" type="base:Version"/>
  <xs:complexType name="Version">
    <xs:annotation>
      <xs:documentation>The version element of the EULYNX DP XML.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="generatedByTool" type="base:XsdGeneratorVersion">
        <xs:annotation>
          <xs:documentation>describes the tools and scripts that generated the XSD.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="hasBaseline" type="base:Baseline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="packageBaseline" type="base:PackageBaseline"/>
  <xs:complexType name="PackageBaseline">
    <xs:annotation>
      <xs:documentation>A baseline applying to a package in the given national domain.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:Baseline">
        <xs:sequence>
          <xs:element name="appliesToNationalDomain" type="base:NationalDomains">
            <xs:annotation>
              <xs:documentation>The baseline applies to a given baseline of the package in the national domain.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="sciLsAspects" type="base:SciLsAspects"/>
  <xs:complexType name="SciLsAspects">
    <xs:annotation>
      <xs:documentation>Container class for aspects as defined by the EULYNX SCI LS cluster.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:ConfiguredBaseObject">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="ownsActiveAspect" type="signalling:ActiveAspect"/>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="ownsActiveAspectSet" type="signalling:ActiveAspectSet"/>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="ownsSignalAspectDegradation" type="signalling:SignalAspectDegradation"/>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="ownsSignalVector" type="signalling:SignalVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="trackTopology" type="base:TrackTopology"/>
  <xs:complexType name="TrackTopology">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usesPositionedRelation" type="rtmCommon:PositionedRelation">
        <xs:annotation>
          <xs:documentation>Multiplicity 0..* allows one to omit topology.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usesPositioningNetElement" type="rtmCommon:PositioningNetElement">
        <xs:annotation>
          <xs:documentation>Multiplicity 0..* allows one to omit use of positioning net elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

