Data_NETStandard/Storage/EULYNX_XSDs/NR.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:NetworkRail="http://www.railtopomodel.org/schemas/NR" xmlns:rtmCommon="http://www.railtopomodel.org/schemas/Common" xmlns:signalling="http://www.railtopomodel.org/schemas/EULYNX_Signalling" elementFormDefault="qualified" targetNamespace="http://www.railtopomodel.org/schemas/NR">
  <!--<dc:date>2020-10-07T11:54:18Z</dc:date><dc:creator>rtm2xsd 1.8.5</dc:creator><dc:source>Model , XMI 2.4.1, EA 13</dc:source>-->
  <xs:import namespace="http://www.railtopomodel.org/schemas/EULYNX_Signalling" schemaLocation="EULYNX_Signalling.xsd"/>
  <xs:import namespace="http://www.railtopomodel.org/schemas/Common" schemaLocation="Common.xsd"/>
  <xs:element name="atpBeacon" type="NetworkRail:AtpBeacon"/>
  <xs:complexType name="AtpBeacon">
    <xs:annotation>
      <xs:documentation>A beacon in the ATP system. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsSpotDevice"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lightSignal" type="NetworkRail:LightSignal"/>
  <xs:complexType name="LightSignal">
    <xs:annotation>
      <xs:documentation>NR Light signal</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:LightSignal">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="hasBackBoard" type="NetworkRail:BackBoardTypes"/>
          <xs:element maxOccurs="1" minOccurs="0" name="hasHoodLength" type="NetworkRail:HoodsLengthTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="designation" type="NetworkRail:Designation"/>
  <xs:complexType name="Designation">
    <xs:complexContent>
      <xs:extension base="signalling:Designation">
        <xs:attribute name="longName" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lensDiffuserWithHotStrip" type="NetworkRail:LensDiffuserWithHotStrip"/>
  <xs:complexType name="LensDiffuserWithHotStrip">
    <xs:complexContent>
      <xs:extension base="NetworkRail:LensDiffuser">
        <xs:attribute name="value" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The hot strip indicates the direction of the focus of the light beam and is given in terms like  "left upper quadrant (LUQ)" or "5 o'clock ".</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="signalFrame" type="NetworkRail:SignalFrame"/>
  <xs:complexType name="SignalFrame">
    <xs:annotation>
      <xs:documentation>NR signal frame.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:SignalFrame">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="hasComponent" type="NetworkRail:SignalFrameComponent"/>
          <xs:element name="hasFrameDimension" type="NetworkRail:FrameDimension"/>
          <xs:element maxOccurs="1" minOccurs="0" name="hasMountingPoint" type="NetworkRail:GridLocation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tpwsSystemProperties" type="NetworkRail:TpwsSystemProperties"/>
  <xs:complexType name="TpwsSystemProperties">
    <xs:annotation>
      <xs:documentation>TPWS system property set.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsDataTransmissionSystemProperties">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="hasTpwsFunction" type="NetworkRail:TpwsFunctionTypes"/>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="hasTpwsTrainCategorySpecificProperties" type="NetworkRail:TpwsTrainCategorySpecificProperties"/>
          <xs:element maxOccurs="1" minOccurs="0" name="isOfTpwsSystemType" type="NetworkRail:TpwsSystemTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="trainStop" type="NetworkRail:TrainStop"/>
  <xs:complexType name="TrainStop">
    <xs:annotation>
      <xs:documentation>Line-side mechanical device that activates the train's trip cock.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsSpotDevice">
        <xs:attribute name="type" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SignalBeyondVisibleTypes">
    <xs:annotation>
      <xs:documentation>Is the signal ahead visible?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="notApplicable">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tripcockTester" type="NetworkRail:TripcockTester"/>
  <xs:complexType name="TripcockTester">
    <xs:annotation>
      <xs:documentation>Line-side device for testing the trainborne trip cock.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsSpotDevice">
        <xs:attribute name="type" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Informs about the powering.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="equipmentLocation" type="NetworkRail:EquipmentLocation"/>
  <xs:complexType name="EquipmentLocation">
    <xs:annotation>
      <xs:documentation>The construct for defining the types of equipment location references able to be located on the infrastructure.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:ConfigurationProperty">
        <xs:sequence>
          <xs:element name="isOfEquipmentLocationType" type="NetworkRail:EquipmentLocationTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="awsMagnet" type="NetworkRail:AwsMagnet"/>
  <xs:complexType name="AwsMagnet">
    <xs:annotation>
      <xs:documentation>Class for storing information about an AWS magnet.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsSpotDevice">
        <xs:attribute name="positionInGroup" type="xs:int" use="optional">
          <xs:annotation>
            <xs:documentation>Position in group of the individual AWS magnet.

Increases in the track chainage direction from 1 onwards.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Can inform about
&lt;ul&gt;
 &lt;li&gt;strong magnet&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
 &lt;li&gt;suppression&lt;/li&gt;
&lt;/ul&gt;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="apcMagnet" type="NetworkRail:ApcMagnet"/>
  <xs:complexType name="ApcMagnet">
    <xs:annotation>
      <xs:documentation>Automatic Power Control Magnet.
Strictly speaking, this is not a train protection device but it uses the same technology to transmit information about the neutral section. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsSpotDevice">
        <xs:sequence>
          <xs:element name="appliesToNeutralSection" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:appinfo>
                <ObjectTypeRef>signalling:ElectrificationGap</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="levelCrossingSystem" type="NetworkRail:LevelCrossingSystem"/>
  <xs:complexType name="LevelCrossingSystem">
    <xs:complexContent>
      <xs:extension base="signalling:LevelCrossingSystem">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="isOfLevelCrossingControlType" type="NetworkRail:LevelCrossingControlTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="fullDesignation" type="NetworkRail:FullDesignation"/>
  <xs:complexType name="FullDesignation">
    <xs:annotation>
      <xs:documentation>Used to be the signal box short code. Today, the line code is used.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="NetworkRail:Designation">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="prefix" type="xs:string" use="required"/>
        <xs:attribute name="suffix" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Used for special objects like banner or co-acting signals.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TpwsFrequencyTypes">
    <xs:annotation>
      <xs:documentation>TPWS frequencies for Arming and Trigger loops. The loops are stated to be Normal or Opposite Direction.
&lt;ol&gt;
 &lt;li&gt;f1 - 64.25 kHz&lt;/li&gt;
 &lt;li&gt;f2 - 65.25 kHz&lt;/li&gt;
 &lt;li&gt;f3 - 66.25 kHz&lt;/li&gt;
 &lt;li&gt;f4 - 64.75 kHz&lt;/li&gt;
 &lt;li&gt;f5 - 65.75 kHz&lt;/li&gt;
 &lt;li&gt;f6 - 66.75 kHz&lt;/li&gt;
&lt;/ol&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="f1">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f2">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f3">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f4">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f5">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f6">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f5_f6">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="signalFrameComponent" type="NetworkRail:SignalFrameComponent"/>
  <xs:complexType name="SignalFrameComponent">
    <xs:annotation>
      <xs:documentation>Lamps or indicators that are part of a signal housing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:SignalFrameComponent">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="hasGridLocation" type="NetworkRail:GridLocation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="popGroup" type="NetworkRail:PopGroup"/>
  <xs:complexType name="PopGroup">
    <xs:annotation>
      <xs:documentation>Predicted Overrun Protection (POP) group of signals.
Overrun of any of the signals in the POP group triggers a closing of all signals.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:ConfiguredBaseObject"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tpwsTrainCategorySpecificProperties" type="NetworkRail:TpwsTrainCategorySpecificProperties"/>
  <xs:complexType name="TpwsTrainCategorySpecificProperties">
    <xs:sequence>
      <xs:element name="appliesToTrainCategoryForMaximumOverrunDistance" type="rtmCommon:tElementWithIDref">
        <xs:annotation>
          <xs:appinfo>
            <ObjectTypeRef>signalling:TrainCategory</ObjectTypeRef>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasMaximumOverrunDistance" type="rtmCommon:Length"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="signallingEquivalentUnit" type="NetworkRail:SignallingEquivalentUnit"/>
  <xs:complexType name="SignallingEquivalentUnit">
    <xs:annotation>
      <xs:documentation>Signalling Equivalent Unit (SEU) is used as a way of estimating the size of a signalling project , so this determines if a piece of equipment is counted as an SEU or part of one.
E.g. a signal &amp;amp; a point are 1 SEU each regardless complexity and components.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:ConfigurationProperty">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="rate" type="xs:float">
            <xs:annotation>
              <xs:documentation>The SEU rate.
Allows weighting the cost of the asset for accounting purposes.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="frameDimension" type="NetworkRail:FrameDimension"/>
  <xs:complexType name="FrameDimension">
    <xs:attribute name="isMiniature" type="xs:boolean" use="required"/>
    <xs:attribute name="width" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Width in mm.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="confusionRisk" type="NetworkRail:ConfusionRisk"/>
  <xs:complexType name="ConfusionRisk">
    <xs:annotation>
      <xs:documentation>Features that may present confusion risk such as station lights or road lights.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="isReadingThrough" type="NetworkRail:ReadThroughRiskTypes"/>
      <xs:element maxOccurs="1" minOccurs="0" name="isSignalAheadVisible" type="NetworkRail:SignalBeyondVisibleTypes"/>
      <xs:element maxOccurs="1" minOccurs="0" name="isWithOtherSignals" type="NetworkRail:ConfusionRiskWithOtherSignalsTypes"/>
    </xs:sequence>
    <xs:attribute name="backgroundFeatures" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:element name="popGroupAssociation" type="NetworkRail:PopGroupAssociation"/>
  <xs:complexType name="PopGroupAssociation">
    <xs:annotation>
      <xs:documentation>Association class describing the conditions applying to individual signals in the POP group.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:BaseObject">
        <xs:sequence>
          <xs:element name="appliesToPopGroup" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:appinfo>
                <ObjectTypeRef>NetworkRail:PopGroup</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="appliesToSignal" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:appinfo>
                <ObjectTypeRef>signalling:Signal</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="hasDerailerElementCondition" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:appinfo>
                <ObjectTypeRef>signalling:DerailerElementAndPosition</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="hasPointElementCondition" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:appinfo>
                <ObjectTypeRef>signalling:PointElementAndPosition</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="condition" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Note describing the condition.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LevelCrossingControlTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AHB">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ABCL">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MCB">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MCB-OD">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MCB(RBC)">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CCTV">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AOCL">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="barrow">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="footpath">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bridleway">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="authorisedStaffCrossing">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="userWorkedTelephone">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="userWorkedMiniatureWarningLights">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="userWorkedBarrierMiniatureWarningLights">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="traincrewOperatedBarriers">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="traincrewOperatedGates">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="openCrossing">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pedestrianMiniatureStopLights">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vehicularMiniatureStopLights">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mannedGates">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AFBC">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TpwsFunctionTypes">
    <xs:annotation>
      <xs:documentation>TPWS function types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="uniDirectionalOverSpeed">
        <xs:annotation>
          <xs:documentation>OverSpeed Sensor (OSS - speed check).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="uniDirectionalTrainStop">
        <xs:annotation>
          <xs:documentation>Trains Stop (TSS).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MrotTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mrot10">
        <xs:annotation>
          <xs:documentation>Minimum road opening time of 10 seconds.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mrot20">
        <xs:annotation>
          <xs:documentation>Minimum road opening time of 20 seconds.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConfusionRiskWithOtherSignalsTypes">
    <xs:annotation>
      <xs:documentation>Could the signal be confused with other signals or signs so that a driver reads the wrong one?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="notApplicable">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LensDiffuserTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="longRangeWideBeam">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="longRangeNarrowBeam">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediumRangeWideBeam">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediumRangeNarrowBeam">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="shortRange">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="turnoutComponentConfiguration" type="NetworkRail:TurnoutComponentConfiguration"/>
  <xs:complexType name="TurnoutComponentConfiguration">
    <xs:annotation>
      <xs:documentation>A set of properties that applies to a movable component with Network Rail.
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TurnoutComponentConfiguration">
        <xs:sequence>
          <xs:element name="isOfPointControlType" type="NetworkRail:PointControlTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="derailmentDetector" type="NetworkRail:DerailmentDetector"/>
  <xs:complexType name="DerailmentDetector">
    <xs:annotation>
      <xs:documentation>The associated track section is occupied when interrupter is activated/broken (only placed in derailer section; detects a train even if it is not on the rails anymore)
Can be associated with a buffer stop that constrains the position of the derailment detector.
Also known as track circuit interruptor.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:VehicleSensor">
        <xs:attribute name="repeated" type="xs:boolean" use="required">
          <xs:annotation>
            <xs:documentation>True: the detector is hard-wired to the track circuit occupancy.
False: relay-based detection so that the derailment signal can be relayed for other functions.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PointControlTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sixFootPointMachine">
        <xs:annotation>
          <xs:documentation>Point Operating Mechanism in the 6-foot.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fourFootPointMachine">
        <xs:annotation>
          <xs:documentation>Point Operating Mechanism in the 4-foot.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yardPointMachine">
        <xs:annotation>
          <xs:documentation>Trailable Power Operated Point Mechanism.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BackBoardTypes">
    <xs:annotation>
      <xs:documentation>Information if there is a board behind the signal.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="notApplicable">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EquipmentLocationTypes">
    <xs:annotation>
      <xs:documentation>All equipment is grouped into these categories.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="junction">
        <xs:annotation>
          <xs:documentation>Equipment mounted at junctions (Junction Equipment).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sleeper">
        <xs:annotation>
          <xs:documentation>Equipment mounted between the rails (Sleeper Equipment).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rail">
        <xs:annotation>
          <xs:documentation>Equipment mounted on the rail (Rail Equipment).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="track">
        <xs:annotation>
          <xs:documentation>Equipment mounted at a point related to the track (Track Equipment).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="section">
        <xs:annotation>
          <xs:documentation>Equipment covering a section or sections of track (Section Equipment).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="area">
        <xs:annotation>
          <xs:documentation>Equipment covering an area related to the track.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="physicalSignal" type="NetworkRail:PhysicalSignal"/>
  <xs:complexType name="PhysicalSignal">
    <xs:annotation>
      <xs:documentation>NR Physical signal</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:PhysicalSignal">
        <xs:sequence>
          <xs:element name="hasConfusionRisk" type="NetworkRail:ConfusionRisk"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="hasImageAttachment" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:appinfo>
                <ObjectTypeRef>NetworkRail:ImageAttachment</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="isObscuredBy" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:appinfo>
                <ObjectTypeRef>NetworkRail:Obscuration</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="GsmRadioCovarage" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>States whether this signal has GSM radio coverage.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="levelCrossingTimerSet" type="NetworkRail:LevelCrossingTimerSet"/>
  <xs:complexType name="LevelCrossingTimerSet">
    <xs:complexContent>
      <xs:extension base="signalling:LevelCrossingTimerSet">
        <xs:sequence>
          <xs:element name="isOfMrotType" type="NetworkRail:MrotTypes">
            <xs:annotation>
              <xs:documentation>minimum road opening time
Either 10 or 20 seconds, depending on the type of LX.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="imageAttachment" type="NetworkRail:ImageAttachment"/>
  <xs:complexType name="ImageAttachment">
    <xs:annotation>
      <xs:documentation>Supporting images, photos and diagrams for signal sighting.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:Attachment">
        <xs:sequence>
          <xs:element name="isOfImageType" type="NetworkRail:ImageTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="HoodsLengthTypes">
    <xs:annotation>
      <xs:documentation>Type of the cover of the signal lamp against glaring sun.
</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="standard">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="long">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TpwsSystemTypes">
    <xs:annotation>
      <xs:documentation>Type given for choosing frequencies for this TPWS.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="opposite">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="obscuration" type="NetworkRail:Obscuration"/>
  <xs:complexType name="Obscuration">
    <xs:annotation>
      <xs:documentation>A trackside object that obscures the view.
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:ConfiguredBaseObject">
        <xs:attribute name="description" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="signalPostTelephone" type="NetworkRail:SignalPostTelephone"/>
  <xs:complexType name="SignalPostTelephone">
    <xs:annotation>
      <xs:documentation>Special information for SignalPostTelephone required by NR. 
Driver safety must be assessed and extra measures may be needed so that the driver can safely access the telephone. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:SignalPostTelephone">
        <xs:attribute name="conductorRailGuardBoardRequired" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>States whether a guard board is provided, e.g. third rail electrification; can be N/A.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="handSignalProhibited" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>States whether hand signalling is allowed; can be N/A.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="limitedClearance" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Provides information about the area with limited clearance the phone is located in.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="safeHandRailRequired" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>States whether a safe hand rail is required; can be N/A.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="walkway" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>States whether a walkway is provided (details such as length or width); can be N/A.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ImageTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CloseImage">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RearImage">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinimumReadingDistanceImage">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VegetationImage">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VisionPlot">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PlatformStartingSignal">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PhotoTrainDispatch">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="lensDiffuser" type="NetworkRail:LensDiffuser"/>
  <xs:complexType name="LensDiffuser">
    <xs:annotation>
      <xs:documentation>NR Lens diffuser</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:LensDiffuser">
        <xs:sequence>
          <xs:element name="isOfLensDiffuserType" type="NetworkRail:LensDiffuserTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="awsSystemProperties" type="NetworkRail:AwsSystemProperties"/>
  <xs:complexType name="AwsSystemProperties">
    <xs:annotation>
      <xs:documentation>Class for storing information about the properties of the AWS system.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsDataTransmissionSystemProperties">
        <xs:attribute name="type" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>General description of the AWS configuration.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="signalSightingDistance" type="NetworkRail:SignalSightingDistance"/>
  <xs:complexType name="SignalSightingDistance">
    <xs:annotation>
      <xs:documentation>NR Signal sighting distance</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:SignalSightingDistance">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="appliesToSignalFrame" type="rtmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>for route indicator or shunting signal aspect.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>signalling:SignalFrame</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hasAchievableDistance" type="rtmCommon:Length">
            <xs:annotation>
              <xs:documentation>Reading distance with the help of mitigation works, e.g. removing obstruction by foliage.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hasApproachSpeed" type="rtmCommon:Speed">
            <xs:annotation>
              <xs:documentation>Speed of trains approaching the signal if different from the line speed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hasCombinedReadableDistance" type="rtmCommon:Length">
            <xs:annotation>
              <xs:documentation>Combined reading distance for the signal and any associated repeaters.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hasMinimumViewingDistance" type="rtmCommon:Length">
            <xs:annotation>
              <xs:documentation>Smallest distance where the signal can be read. Closer to the signal, the driver may not be able to view the signal.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="bannerSignalRequired" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>In case a repeater is needed, the distance in meter to the banner repeater signal.
Otherwise the value NO is given (this is why type string is used here.)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="gridLocation" type="NetworkRail:GridLocation"/>
  <xs:complexType name="GridLocation">
    <xs:attribute name="X" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>The location of the mounting point on the signal drawing grid; x-co-ordinate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Y" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>The location of the mounting point on the signal drawing grid; y-co-ordinate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ReadThroughRiskTypes">
    <xs:annotation>
      <xs:documentation>Is there a read through risk with the signal?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="nil">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="slight">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="significant">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tpwsDevice" type="NetworkRail:TpwsDevice"/>
  <xs:complexType name="TpwsDevice">
    <xs:annotation>
      <xs:documentation>TPWS loop. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:TpsSpotDevice">
        <xs:sequence>
          <xs:element maxOccurs="2" minOccurs="1" name="hasFrequency" type="NetworkRail:TpwsFrequencyTypes">
            <xs:annotation>
              <xs:documentation>The arming and the trigger loop of the TSS or OSS is each associated with a frequency.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="positionInGroup" type="xs:int" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="cableBridge" type="NetworkRail:CableBridge"/>
  <xs:complexType name="CableBridge">
    <xs:annotation>
      <xs:documentation>A raised construction for guiding cables across an obstacle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="signalling:CableBridge">
        <xs:attribute name="bridgeNumber" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The number of the cable bridge, if used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

